@model Cinema.Models.Cart

@{
    ViewData["Title"] = "Editcart";
}

<h1>Editcart</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editcart" method="post" enctype="multipart/form-data" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="seatno" class="control-label"></label>
                <input asp-for="seatno" class="form-control" />
                <span asp-validation-for="seatno" class="text-danger"></span>
            </div>
    
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
       </form>
    </div>


    <div>
        @TempData["sucess"]</br>
        <a asp-action="Index">Back to List</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
